# created by virtualenv automatically
# ---------------------------------------------------------------------------------
#   macOS Junk
# ---------------------------------------------------------------------------------
.DS_Store

# ---------------------------------------------------------------------------------
#   Python
# ---------------------------------------------------------------------------------
__pycache__/
*.py[cod]

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# ---------------------------------------------------------------------------------
#   Virtual Environments
# ---------------------------------------------------------------------------------
.venv/
venv/
env/

# ---------------------------------------------------------------------------------
#   JetBrains / PyCharm
# ---------------------------------------------------------------------------------
.idea/
*.iml

# ---------------------------------------------------------------------------------
#   Other
# ---------------------------------------------------------------------------------
.vscode/
